* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b1 {
  background-color: red;
}

.b2 {
  background-color: green;
}

.b3 {
  background-color: rgb(128, 0, 92);
}

.b4 {
  background-color: rgb(25, 6, 235);
}

.b5 {
  background-color: rgb(25, 6, 235);
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "main side side"
    "main footer1 footer2";

  gap: 10px;
}

.b1 {
  grid-area: nav;
}

.b2 {
  grid-area: main;
}

.b3 {
  grid-area: side;
}

.b4 {
  grid-area: footer1;
  padding: 30px;
}

.b5 {
  grid-area: footer2;
  padding: 30px;
}
