@font-face {
  font-family: noto;
  src: url('./font/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main {
  background-image: url("./img/architect.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
  /* background-attachment: fixed; */
  padding-top: 100vh;
}

nav {
  display: flex;
  padding-left: 35vw;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  /* position: fixed;
  top: 3vh; */
  background-color: white;
}

nav img {
  width: 90px;
  position: absolute;
  left: 30px;
  top: 0vh;
}

a {
  text-decoration: none;
  align-items: center;
  margin: 0 10px;
  /* height: 100%; */
  display: flex;
  font-family: noto;
  font-size: 1.2rem;
  color: rgb(28, 28, 150);
  padding: 3rem;
}

h1 {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 3rem;
  padding: 4rem 0rem 4rem 3rem;
}

.house-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
  margin: 2rem 2rem; t6
}

.house-gallery img {
  width: 25vw;
}
