@font-face {
    font-family: raleway;
    src: url(../assets/font/Raleway/Raleway-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
}

.logo {
    color:  #666;
    font-family: raleway;
    font-size: 1.1rem;
    text-decoration: none;
}

ul {
    display: flex;
    color: #333;
    font-family: raleway;
    font-size: 1.1rem;
    justify-content: space-around;
    width: 50vw;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

/* ***** Hover ****** */
.logo:hover {
    color: #333;
}

li a:hover {
    color: #337ab7;
}

/* ***** Hover ****** */

main {
    background-image: url('./img/ocean.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ****** Main ****** */
.slogan {
    font-family: raleway;
    color: whitesmoke;
    font-size: 4rem;
    height: 14vh;
    /* align-self: center; */
}

.text-box {
    font-family: raleway;
    color: whitesmoke;
    font-size: 1rem;
    width: 75vw;
    height: 3vh;
    display: flex;
    justify-content: center;
}
/* ****** Button ******* */
.button-box {
    display: flex;
    width: 75vw;
    height: 6vh;
    gap: 0.4rem;
    justify-content: center;
    margin-top: 3rem;
}

button {
    width: 200px;
    height: 45px;
    background: #745CF9;
    font-family: raleway;
    border: 1px solid white;
    color: white;
}

button:nth-of-type(1) {
    background: none;
}