@font-face {
    font-family: poppins;
    src: url('./font/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: playfair;
    src: url('./font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(237, 240, 226);
}

h1 {
    font-family: playfair;
    font-weight: 600;
    position: absolute;
    top: 10rem;
    left: 13rem;
}

p {
    font-family: playfair;
    width: 20rem;
    margin-top: 3rem;
    font-weight: 100;
    position: relative;
    top: 13rem;
    left: 13rem;
}

button {
    background-color: rgb(210, 191, 25);
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 50rem;
    margin-top: 5rem;
    position: relative;
    top: 13rem;
    left: 15rem;
}

img {
    width: 50rem;
    position: absolute;
    top: 3rem;
    left: 35rem;
}



